{% extends "base.html" %}
{% block content %}
  
<h1>daily read</h1>
<a id="logout" href="javascript:void(0);">logout</a>

<section id="sign-in">
    <form id="credentials">
        <p>email: <input id="email" type="text"></p>
        <p>password: <input id="password" type="password"></p>
        <input type="submit">
    </form>
</section>

<section id="app">
    <h2>instructions</h2>
    <ol>
        <li>add your favorite websites to the "daily read links" list below.</li>
        <li>visit <a href="dailyread.website/next">dailyread.website/next</a> to shuffle the list and visit the next daily read site.</li>
        <li>the app shuffles the list after you've visited each site once.</li>
    </ol>

    <h2>daily read links</h2>
    <a id="add-url" href="javascript:void(0);">add new link</a>
    <ul id="urls">
    </ul>
</section>

{% endblock %}